---
layout: page
title: Indian Panther
subtitle: The Democratic Media
fb-img: "http://indianpanther.com/read/img/650logo.png"
---

<!-- CUSTOM INTRODUCTION -->
<div class="main-explain-area jumbotron" style="background-color:#e74c3c">

Indian Panther is a symbol of informatic revolution.Unlike News papers or TV Channels here you can contribute to the platform. You can write the news, argue in debates, express in speeches and question the responsible. One man might not be able to make a difference,but 1.2 Billion people surely can!!! To Contribute please visit <a href="http://indianpanther.com">Indian Panther</a>. Lets stand out and make a difference. #DEMOCRATICMEDIA 

</div>
<!-- CUSTOM INTRODUCTION -->

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">Read More</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
