---
layout: page
title: Indian Panther
subtitle: The Democratic Media
fb-img: "http://indianpanther.com/read/img/650logo.png"
---

<!-- CUSTOM INTRODUCTION -->
<div class="main-explain-area jumbotron">

In the Modern era of Technology there is a suddern outburst of a huge wave of media. The Traditional News papers and TV channels are standing out, but most of them are biased towards something, a system , a party an ideology. We all know about the paid media which also plays a huge rule in moulding opinions. Hence we beg to differ here. We at Indian Panther want to stand out among them. We want you guys to stand at the pinnacle of decision making while we just collect and present the evidence of what happened, from persons like you. Yes we depend on people like you to get news to us. If you are interested in contributing to our platform, please visit <a href="http://indianpanther.com">Indian Panther</a> for more details. However you can seemingly read our crafted masterpiece articles for free. Lets stand together now for a real revolution. #DEMOCRATICMEDIA 

</div>
<!-- CUSTOM INTRODUCTION -->

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">Read More</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
