{% if site.spotim %}
<div class="comments">
	<div class="spot-im-frame-inpage" data-post-id="{{ page.url}}"></div>
	<script type="text/javascript">!function(t,e,n){function a(t){var a=e.createElement("script");a.type="text/javascript",a.async=!1,a.src=("https:"===e.location.protocol?"https":"http")+":"+n,(t||e.body||e.head).appendChild(a)}function o(){var t=e.getElementsByTagName("script"),n=t[t.length-1];return n.parentNode} var p=o();t.spotId="sp_5OMYu54m",t.parentElement=p,a(p)}(window.SPOTIM={},document,"//www.spot.im/launcher/bundle.js");</script>
	<noscript>Please enable JavaScript to view the comments powered by SPOTIM.</noscript>
</div>
{% endif %}